<?php

return [
    'tracy' => [
        'enabled'      => true,  // Is Tracy enabled? (true = enabled | false = disabled)
        'mode'         => null,  // Mode of traci (true = production | false = development | null = autodetect)
        'showBar'      => true,  // Can render Tracy bar? (true = visible | false = hidden)
        'showLocation' => false, // Can render Tracy bar? (true = visible | false = hidden)
        'strict'       => false, // Can show bluescreen immediately?
        'email'        => null,  // In prodction mode send email with exception to this address
        'logDirectory' => null,  // Path to dir for loging exceptions
        'logSeverity'  => null,  // Severity of exception which will be logged
        'maxDepth'     => 3,     // Max depth in variable dump
        'maxLength'    => 150,   // Max length of string in variable dump
    ]
];